#anchorPane-login {
    -fx-background-color: white;
}

#button-login {
    -fx-background-radius: 100;
    -fx-background-color: rgb(43, 121, 255);
    -fx-text-fill: WHITE;
    -jfx-button-type: RAISED;
    -jfx-disable-visual-focus: true;
}